* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* DA COPIARE IN TUTTI GLI SFONFI PER MUOVERLI DOVE SI VUOLE */
body {
    background: url('../walp.jpeg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

#title {
    color: white;
}

.home {
    position: fixed;
    background: transparent;
    backdrop-filter: blur(40px);
    border-radius: 12px;
    padding: 10px 25px;
    display: inline-block;
    font-size: 20px;
    border-color: black;
    border-width: 2px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    margin-left: 1lh;
    margin-top: 2vh;
    transition: 0.3s;
}

.home:hover {
    background-color: rgba(0, 0, 0, 0.688);
}