@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: url('../walp.jpeg') no-repeat;
    background-position: center top ;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
}

.uploading-square{
    display: inline-block;
    margin: auto;
    background: transparent;
    backdrop-filter: blur(7px);
    padding: 20px 20px 20px 20px;
    border-radius: 17px;
    border-color: transparent;
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.general{
    margin-top: 40vh;
    margin-left: 30lh;
}

#Upload{
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
    background-color: transparent;
    border-color: black;
}

#file{
    padding: 5px;
    background-color: transparent;
    border-radius: 12px;
    backdrop-filter: blur(7px);
}

#upload_file{
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 17px;
    background-color: transparent;
    display: inline-block;
    color: white;
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    border-color: transparent;
}

.home{
    background: transparent;
    backdrop-filter: blur(40px);
    border-radius: 12px;
    padding: 10px 25px;
    display: inline-block;
    font-size: 20px;
    border-color: black;
    border-width: 2px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    margin-left: 1lh;
    margin-top: 2vh;
    transition: 0.3s;
}

.home:hover{
    background-color: rgba(0, 0, 0, 0.688);
}

h1{
    color: white;
    font-family: sans-serif;
  }
  
  #primo{
    text-align: center;
    border: transparent;
  }
  
  #secondo{
    display: inline-block;
    backdrop-filter: blur(40px);
    background-color: transparent;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    border-color: transparent;
  }
  