body {
    background: url('../../../walp.jpeg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

h1{
    color: white;
}

#flexer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-container{
    display: inline-block;
    border-radius: 20px;
    border-width: 3px;
    border-color: white;
    background-color: transparent;
    backdrop-filter: blur(7px);
    padding: 0px 15px;
}

#json-wrapper{
    margin: 10px;
    border-width: 5px;
    border-color: white;
    border-radius: 12px;
    background-color: transparent;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    max-height: 78%;
    overflow: auto;
    position: relative;
    max-width: auto;
}

#json {
    color: white;
}

#json-wrapper::-webkit-scrollbar {
    width: 10px;
    padding: 1px;
}

#json-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1px solid transparent;
}

#json-wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #631a8e;
}

body::-webkit-scrollbar {
    width: 10px;
    padding: 1px;
}

body::-webkit-scrollbar-track {
    background-color: black;
    border: 1px solid;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #631a8e;
}

#back-button-wrapper{
    display: inline-block;
}

#back-button{
    background: rgb(47, 47, 82);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border-radius: 30px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 20px;
    border-color: black;
    border-width: 2px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}

#back-button:hover {
    background-image: radial-gradient(transparent, black);
    color: #631a8e;
}